/MonteCarlo/bin
/Fisica/bin
.vscode/
/Notebooks_Py/Datos/Ising/
/Notebooks_Py/Datos/Harmonic/
/Notebooks_Py/Datos/Oscillator/acc_rates/
/Notebooks_Py/Datos/Oscillator/SE/
/Notebooks_Py/Datos/Oscillator/corr/
/Notebooks_Py/Datos/Oscillator/trayec/
.DS_Store
